.layui-footer {
    text-align: center;
    font-size: 12px;
}

.iconfont,
.layui-icon {
    margin-right: 8px;
}

.layui-icon {
    margin-left: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

.layui-body {
    overflow: hidden;
}

a {
    transition: none !important;
}

.userinfo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;
}

.layui-side-scroll>.userinfo {
    border-bottom: 1px solid #282B33;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #009688;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}